<!DOCTYPE html>
<html>
<head>
  <title>Documentation System</title>
</head>
<body>

<div class="background-div">
  <div >
    <div class="row">
      <div class="col-md-12">
        <div class="fade_in">
          <h1 class=" font-weight-bold " style="font-family:'Times New Roman', Times, serif; text-shadow: 0  3 5px rgb(0, 0, 0); color: #ab7d4b; font-size: 4rem;">RESERVE</h1>
          <h1 class=" font-weight-bold " style="font-family:'Times New Roman', Times, serif; text-shadow: 0 3 5px rgb(0, 0, 0); color: #aa7b49; font-size: 4rem;">NOW</h1>
          <h1 class="" style = "text-shadow: 0  0 9px rgb(0, 0, 0); color: #efc185;">Reserve your favourite restaurants by one click</h1>
          <button routerLink="signup"  class="btn btn-outline-dark btn-lg custom"style="border-color:#5b3402; color:#efc185; margin-top: 20px; font-size: 2rem">SIGN UP</button>
          <a href="javascript:void(0)" style="text-decoration: none;"><h6 style="color:bisque"  routerLink="/login">already registered</h6></a>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
